<div ng-controller="mainController">
<!-- Navigation -->
<header class="intro">
    <div class="intro-body">
        <div class="row">
            <div class="side">
            </div>
            <div class="center">
                <h1 class="brand-heading name">Cactus X</h1>
                <p class="intro-text">A free, responsive, one page Bootstrap theme.
                    <br>Created by Start Bootstrap.</p>
            </div>
            <div class="side">
                <form class="form">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Ім'я</label>
                        <input type="name" ng-model="user.name" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">Пароль</label>
                        <input type="password"  ng-model="user.password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                    </div>
                    <button type="submit" ng-click="auth()" class="btn btn-primary">Увійти</button>
                </form>
            </div>
        </div>
    </div>
</header>
</div>